<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <title>KSS: Handlebars test</title>
  <meta name="generator" content="kss-node" />
</head>
<body>

<div id="kss-test--markup">
  {{#section "2.1.3"}}
  {{#each modifiers}}
  {{{markup}}}
  {{/each}}
  {{/section}}
</div>

<div id="kss-test--markup-2">
  {{#section "3.1"}}
  {{{markup}}}
  {{/section}}
</div>

<div id="kss-test--section">
{{#section "3"}}
  <h2>Handlebars Section Helper Test {{reference}}</h2>
  {{{description}}}
{{/section}}
{{#section "99"}}
{{else}}
  <h2>Handlebars Section Helper Test Fail</h2>
{{/section}}
</div>

<div id="kss-test--eachSection">
{{#eachSection "2"}}
  <h2>Handlebars eachSection Helper Test {{reference}}</h2>
  {{{description}}}
{{/eachSection}}
</div>

<div id="kss-test--eachSection-modifiers">
{{#eachSection "2.1.3"}}
  {{#each modifiers}}
    <h2>Handlebars eachSection Helper: #each modifiers: {{name}}</h2>
  {{/each}}
{{/eachSection}}
</div>

<div id="kss-test--custom">
{{#section "4.1"}}
  "custom" property: {{custom}}
  "custom2" property: {{custom2}}
{{/section}}
</div>

<div id="kss-test--non-existant">
  {{#eachSection "does.not.exist.*"}}
    <h2>{{header}}</h2>
  {{else}}
    <h2>Does not exist</h2>
  {{/eachSection}}
</div>

</body>
</html>
